:root {
  --bs-primary-rgb: 30, 63, 106;
  --bs-primary-dark-rgb: 13, 38, 72;
}

.btn {
  --bs-btn-font-weight: 500;
}

.btn-primary {
  --bs-btn-bg: rgb(var(--bs-primary-rgb));
  --bs-btn-hover-bg: rgb(var(--bs-primary-dark-rgb));
  --bs-btn-hover-border-color: rgb(var(--bs-primary-dark-rgb));
  --bs-btn-active-bg: rgb(var(--bs-primary-dark-rgb));
}

.btn-outline-primary {
  --bs-btn-color: rgb(var(--bs-primary-rgb));
  --bs-btn-border-color: rgb(var(--bs-primary-rgb));
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(var(--bs-primary-rgb));
  --bs-btn-hover-border-color: rgb(var(--bs-primary-rgb));
  --bs-btn-active-bg: rgb(var(--bs-primary-dark-rgb));
  --bs-btn-active-border-color: rgb(var(--bs-primary-dark-rgb));
  --bs-btn-disabled-color: rgb(var(--bs-primary-rgb), 0.5);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(var(--bs-primary-rgb), 0.5);
  --bs-gradient: none;
}

a {
  text-decoration: none;
  font-weight: 500;
}

.bg-primary-dark {
  background-color: rgb(var(--bs-primary-dark-rgb)); 
}

details {
  /* box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1); */
  border: 1px solid #eee;
  padding: 0.5em 0.5em 0;
  opacity: 0.5;
}

.cursor-pointer {
  cursor: pointer;
}

.form-label {
  font-weight: 500;
  margin-bottom: 0;
}